.register {
  background: url('../../../assets/img/bg-home.jpg') center center;
  background-size: cover;
  height: 100%;
}

.btn-primary {
  border: 1px solid #ae3006 !important;
  background-color: #ae3006 !important;
}
.btn-warning {
  border: 1px solid #ffd700!important;
  background-color: #ffd700 !important;
}

.progress {
  background-color: #c6c6c6 !important;
}

.label-file {
    cursor: pointer;
    font-weight: bold;
}

fa-icon {
  font-size: 1.4rem;
  color: darkslategray
}

input, textarea {
  background-color:#f7f5ec;
}

.text-dark , .label-file {
  color: darkslategray !important;
}
.text-white  {
  color: ivory !important;
}

