<div class="modal-header">

  <img class="rounded img-fluid mr-2" [src]="selectedMember.photoUrl" width="10%" height="auto" alt="photo membre">
  <span *ngIf="selectedMember.sex" class="d-inline mr-2" [ngSwitch]="selectedMember.sex">
    <fa-icon *ngSwitchCase="'female'" [icon]="['fas','venus']"></fa-icon>
    <fa-icon *ngSwitchCase="'male'" [icon]="['fas','mars']"></fa-icon>
    <fa-icon *ngSwitchCase="'other'" [icon]="['fas','venus-mars']"></fa-icon>
  </span>
  <span>{{ selectedMember.pseudo | customTitleCase }}, {{ selectedMember.firstName | customTitleCase }}
    {{ selectedMember.lastName | customTitleCase }}
  </span>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body align-items-center">

  <div>{{selectedMember.presentation}}</div>
  <div *ngIf="selectedRelation">
    {{dateLabel}} {{ selectedRelation.creationDate | date:'mediumDate':'':'fr' }}
  </div>

  <!-- affichage des boutons en fonction de la relation avec le membre sélectionné -->
  <div *ngIf="isConfirmed" class="button-container row">
    <div class="col-md my-3">
      <!-- <button type="button" class="btn btn-outline-primary d-block mr-2 mt-3">Voir son profil (todo)
      </button> -->
      <button type="button" class="btn btn-primary d-block mt-3"
        (click)="relationUpdate(status_terminated)">Supprimer
      </button>
    </div>
  </div>

  <div *ngIf="toValidate" class="button-container row">
    <div class="col-md my-3">
      <button type="button" class="btn btn-primary d-block mr-2 mt-3"
        (click)="relationUpdate(status_confirmed)">Accepter
      </button>
      <button type="button" class="btn btn-primary d-block mt-3"
        (click)="relationUpdate(status_rejected)">Refuser
      </button>
    </div>
  </div>
  <div *ngIf="toBefriend" class="button-container row">
    <div class="col-md my-3">
      <button type="button" class="btn btn-primary d-block mr-2 mt-3"
        (click)="relationRequest()">Ajouter en ami
      </button>
      <button type="button" class="btn btn-outline-primary d-block mt-3">Voir ses amis (todo)
      </button>
    </div>
  </div>
</div>

<div class="modal-footer"></div>
