<div class="modal-body align-items-center">
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <img class="rounded img-fluid mr-2" [src]="selectedMember.photoUrl" width="10%" height="auto" alt="photo membre">
    <span *ngIf="selectedMember.sex" class="d-inline mr-2" [ngSwitch]="selectedMember.sex">
      <fa-icon *ngSwitchCase="'female'" [icon]="['fas','venus']"></fa-icon>
      <fa-icon *ngSwitchCase="'male'" [icon]="['fas','mars']"></fa-icon>
      <fa-icon *ngSwitchCase="'other'" [icon]="['fas','venus-mars']"></fa-icon>
    </span>
    <span>{{ selectedMember.pseudo | customTitleCase }}, {{ selectedMember.firstName | customTitleCase }}
      {{ selectedMember.lastName | customTitleCase }}
      </span>
  </div>
  <div>{{selectedMember.presentation}}</div>
  <div *ngIf="selectedRelation">
    {{dateLabel}} {{ selectedRelation.creationDate | date:'mediumDate':'':'fr' }}
  </div>

  <!-- affichage des boutons en fonction de la relation avec le membre sélectionné -->
  <button *ngIf="isConfirmed" type="button" class="btn btn-outline-primary d-block mx-auto my-2">Voir son profil (todo)
  </button>
  <button *ngIf="isConfirmed" type="button" class="btn btn-outline-primary d-block mx-auto my-2"
    (click)="relationUpdate(status_terminated)">Supprimer
  </button>
  <div *ngIf="toValidate" class="mx-auto">
    <button type="button" class="btn btn-outline-primary mx-2 my-2"
      (click)="relationUpdate(status_confirmed)">Accepter
    </button>
    <button type="button" class="btn btn-outline-primary mx-2 my-2"
      (click)="relationUpdate(status_rejected)">Refuser
    </button>
  </div>
  <button *ngIf="toBefriend" type="button" class="btn btn-outline-primary d-block mx-auto my-2"
    (click)="relationRequest()">Ajouter en ami
  </button>
  <button type="button" class="btn btn-outline-primary d-block mx-auto my-2">Voir ses amis (todo)
  </button>
