.profile {
  background: url('../../../assets/img/bg-profile.jpg') center center;
  background-size: cover;
  background-color: #ffe4c4;
  height: 100%;
}

.text-dark {
  color: darkslategray !important;
}

.text-white {
  color: ivory !important;
}

.card-body, .card-footer,
ul,
li {
  background-color: ivory;
}

.card-body {
  border-radius: 2%;
}

fa-icon {
  font-size: 1.4rem;
  color: darkslategray;
}

footer fa-icon {
  color: ivory;
}


