<div class="container-fluid pt-3">
  <div class="card col-lg-6 mx-auto pt-3">
    <img src="../../assets/img/bg-about.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mais, qui c'est-y qu'on est ?</h5>
      <p class="card-text">Origine du site...Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio iusto,
        excepturi debitis ut
        numquam, repellendus nam voluptatibus ex delectus possimus veritatis quo sed porro, quas laborum et libero est
        quae!</p>

    </div>
  </div>
</div>
