<div class="container-fluid pt-3">
  <div class="card col-lg-6 mx-auto pt-3">
    <img src="../../assets/img/bg-about.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mais, qui c'est-y qu'on est ?</h5>
      <p class="card-text mt-4">
        Véroche avait un projet de réseau social à réaliser dans le cadre de sa formation de développeuse web.</p>
        <p>
        Marilou, une passionnée de pâtisserie, a apporté le thème.</p>
        <p>
        Nous espérons que vous trouverez ici un lieu de partage autour de la <em>gourmanderie.</em>

      </p>
    </div>
  </div>
</div>
