<div class="password ">
  <div class="col-md-8 col-lg-6 mx-auto">
    <h3 class="text-center text-color py-5">J'ai perdu mon mot de passe...</h3>
    <p class="text-center">Saisissez votre email pour recevoir un mot de passe provisoire.</p>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <div class="form-row my-3">
        <div class="form-group col mx-4">
         <input #email type="email" formControlName="email" class="form-control" placeholder="* mon.adresse@email.com" maxlength=50 (focus)="reinit()" autofocus/>

          <div *ngIf="(formControls.email.touched || formControls.email.dirty) && formControls.email.invalid" class="alert alert-danger my-1 p-1">
            <div *ngIf="formControls.email.errors.required">Saisissez votre email.</div>
            <div *ngIf="formControls.email.errors.pattern">Le format n'est pas correct.</div>
            <div *ngIf="formControls.email.errors.maxlength">L'email est trop long!</div>
          </div>
          <div *ngIf="passwordStatus.emailNotFound">
            <div class="alert alert-danger mt-1 p-1">Oups, il n'y a pas de compte pour cet email.</div>
          </div>
        </div>
      </div>


      <div *ngIf="!loading">
        <div class="text-center col mt-3">
          <button class="btn btn-primary" type="submit" [disabled]="emailForm.invalid">Envoyer</button>

        </div>

        <div class="text-center col mt-3">
          <button class="btn btn-secondary" [routerLink]="'/home'">Retour Accueil</button>
        </div>

      </div>

      <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
        </div>
      </div>

    </form>

  </div>
</div>

