.contact {
  background: url('../../assets/img/bg-home.jpg') center center;
  background-size: cover;
  height: 100%;
}


input, textarea {
  background-color: #f7f5ec;
}

button .btn {
  outline: 0;
}

