<div class="container-fluid pt-3">
  <div class="card col-md-5 mx-auto pt-2">
    <img src="../../assets/img/bg-contact.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Contactez-nous!</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio iusto, excepturi debitis
        ut
        numquam, repellendus nam voluptatibus ex delectus possimus veritatis quo sed porro, quas laborum et libero est
        quae!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
