.container-fluid {
  background: url('../../assets/img/bg-home.jpg') center center;
  background-size: cover;
  height: 100%;
}

a {
  text-decoration: none;
}

.btn:hover,
a:hover {
  color: white !important;
}
