<div class="container-fluid pt-3">
  <div class="card col-lg-6 mx-auto pt-3">
    <img src="../../assets/img/bg-contact.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Contactez-nous!</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio iusto, excepturi debitis
        ut
        numquam, repellendus nam voluptatibus ex delectus possimus veritatis quo sed porro, quas laborum et libero est
        quae!</p>
      <button class="btn btn-outline-secondary"><a class="text-dark" href="mailto:patachou.becsucre@gmail.com">Pour nous écrire</a></button>
    </div>
  </div>
</div>
