<!--
  Les relations du membre en cours sont affichées dans des onglets selon leur type
  - les amis confirmés
  - les demandes d'ajout d'amis reçues en attente
  - les demandes d'amis envoyées et en attente

  Les relations peuvent être sélectionnées :
  - affichage des données du membre ami dans une modale
  - actions possibles selon le statut de la relation : voir le profil, confirmation, rejet ou suppression de la relation

  La recherche d'amis se fait dans un 4ème onglet:
  - saisie d'un pseudo, nom ou prénom
  - sélection et affichage des données d'un membre dans un modale
  - possibilité de faire la demande d'ajout d'ami
 -->

<div class="network">
  <div class="col-md-8 mx-auto pt-2">
    <h5 class="text-white">Mon réseau d'amis <small>(Design todo)</small></h5>
    <tabset type="pills" [justified]="true">

      <!--======================================================================================================
             les amis confirmés
      ==========================================================================================================-->
      <tab heading="Amis">
        <div class="list-group mt-3" *ngIf="confirmedRelations?.length; else noFriends">
          <button *ngFor="let relation of confirmedRelations" class="list-group-item list-group-item-action"
            (click)="selectRelation(relation, relation_confirmed)">
            <div *ngIf="isRequester(relation); else isReceiver">
              <img class="rounded img-fluid" [src]="relation.receiver.photoUrl" width="25px" height="auto" alt="avatar">
              {{ relation.receiver.pseudo | customTitleCase }}, {{ relation.receiver.firstName | customTitleCase }}
              {{ relation.receiver.lastName | customTitleCase }}
            </div>

            <ng-template #isReceiver>
              <div>
                <img class="rounded img-fluid" [src]="relation.requester.photoUrl" width="25px" height="auto"
                  alt="avatar">
                {{ relation.requester.pseudo | customTitleCase }}, {{ relation.requester.firstName | customTitleCase }}
                {{ relation.requester.lastName | customTitleCase }}
              </div>
            </ng-template>
          </button>
        </div>

        <ng-template #noFriends>
          <div class="list-group mt-3">
            <div class="list-group-item">
              <span> Je n'ai pas d'amis</span>
              <img class="img-fluid ml-1" src="../../../assets/img/sad-face.png" width="50" height="auto"
                alt="sad face">
            </div>
          </div>
        </ng-template>
      </tab>

      <!--======================================================================================================
             Demandes d'ajout reçues et à valider
      ==========================================================================================================-->

      <tab heading="Validation">
        <div class="list-group mt-3" *ngIf="relationsToValidate?.length; else noValidations">
          <button *ngFor="let relation of relationsToValidate" class="list-group-item list-group-item-action"
            (click)="selectRelation(relation, relation_to_validate)">
            <img class="rounded img-fluid" [src]="relation.requester.photoUrl" width="25px" height="auto" alt="avatar">
            {{ relation.requester.pseudo | customTitleCase }}, {{ relation.requester.firstName | customTitleCase }}
            {{ relation.requester.lastName | customTitleCase }}
          </button>
        </div>
        <ng-template #noValidations>
          <div class="list-group mt-3">
            <div class="list-group-item">
              <span> Je n'ai pas de demandes à valider.</span>
              <img class="img-fluid ml-1" src="../../../assets/img/bored.gif" width="100" height="auto"
                alt="bored cat">
            </div>
          </div>
        </ng-template>
      </tab>

      <!--======================================================================================================
             Demandes d'ajout envoyées en attente de confirmation
      ==========================================================================================================-->

      <tab heading="Attente">
        <div class="list-group mt-3" *ngIf="relationsInWaiting?.length; else noneInWaiting">
          <button *ngFor="let relation of relationsInWaiting" class="list-group-item list-group-item-action"
            (click)="selectRelation(relation, relation_in_waiting)">
            <img class="rounded img-fluid" [src]="relation.receiver.photoUrl" width="25px" height="auto" alt="avatar">
            {{ relation.receiver.pseudo | customTitleCase }}, {{ relation.receiver.firstName | customTitleCase }}
            {{ relation.receiver.lastName | customTitleCase }}
          </button>
        </div>
        <ng-template #noneInWaiting>
          <div class="list-group mt-3">
            <div class="list-group-item">
              <span> Je n'ai pas de demandes en attente.</span>
              <img class="img-fluid ml-1" src="../../../assets/img/bored.gif" width="100" height="auto"
                alt="bored cat">
            </div>
          </div>
        </ng-template>
      </tab>

      <!--======================================================================================================
             Recherche membres
      ==========================================================================================================-->

      <tab heading="Recherche">

        <!-- formulaire de recherche -->
        <form class="form-inline my-2 mt-3 ">
          <input #searchTerm class="form-control w-100" type="search" placeholder="Recherche par pseudo ou nom"
            (keyup)="searchTerm$.next($event.target.value)">
        </form>

        <!-- résultats de la recherche -->
        <div *ngIf="members; else noResults">
          <div class="list-group overflow-auto my-lg-0">
            <button class="list-group-item py-1 px-2 mt-2 text-left">
              Résultats pour "{{searchTerm.value}}"
            </button>
            <button *ngFor="let member of members" class="list-group-item list-group-item-action"
              (click)="selectMember(member)">
              <img class="rounded img-fluid" [src]="member.photoUrl" width="25px" height="auto" alt="avatar">
              {{ member.pseudo | customTitleCase }}, {{ member.firstName | customTitleCase }}
              {{ member.lastName | customTitleCase }}
            </button>
          </div>
        </div>
        <ng-template #noResults>
          <div class="list-group mt-3">
            <div class="list-group-item">
              <span>Aucun membre trouvé</span>
              <img class="img-fluid ml-1" src="../../../assets/img/no-results.png" width="50" height="auto"
                alt="no results">
            </div>
          </div>
        </ng-template>
      </tab>
    </tabset>
  </div>
</div>
