<div class="login ">
  <div class="col-md-8 col-lg-6 mx-auto">
    <h3 class="text-center text-color py-5">Je me connecte...</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-row my-3">
        <div class="form-group col mx-4">
          <input type="text" formControlName="pseudo" class="form-control d-inline" placeholder="* Pseudonyme"
            maxlength=30 />
          <div *ngIf="(formControls.pseudo.touched || formControls.pseudo.dirty) && formControls.pseudo.invalid">
            <div class="alert alert-danger my-1 p-1" *ngIf="formControls.pseudo.errors.required">Saisissez votre pseudo.
            </div>
          </div>
        </div>
      </div>

      <div class="form-row my-3">
        <div class="form-group col mx-4">
          <input type="password" formControlName="password" class="form-control" placeholder="* Password"
            maxlength=30 />
          <div *ngIf="(formControls.password.touched || formControls.password.dirty) && formControls.password.invalid">
            <div class="alert alert-danger my-1 p-1" *ngIf="formControls.password.errors.required">Saisissez votre mot
              de passe.
            </div>
          </div>

        </div>
      </div>

      <div class="text-center col mt-3">
        <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Et j'envoie la sauce
          caramel!</button>
        <div *ngIf="badCredentials">
          <div class="alert alert-danger mt-1 p-1">Oups, le pseudo ou le mot passe n'est pas correct.</div>
        </div>
        <div *ngIf="technicalFailure">
          <div class="alert alert-danger mt-1 p-1">Oups, il y a une saucisse dans la pâte à choux. Veuillez réessayer
            plus tard.</div>
        </div>
      </div>

      <!-- <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
  </button> -->

      <div class="text-center col mt-3">
        <button class="btn btn-warning" [routerLink]="'/connection/register'">Ah mais je n'ai pas de
          compte!</button>
      </div>
    </form>

    <ng-template #error>
      <div class="modal-header bg-danger">
        <h5 class="modal-title pull-left text-white">Oups, une saucisse dans la pâte!</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Nous sommes désolés, un incident est intervenu. Merci de réessayer plus tard.
      </div>
    </ng-template>
  </div>
</div>
