.login {
  background: url('../../../assets/img/bg-home.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
}

input {
  background-color: #f7f5ec;
}

button .btn {
  outline: 0;
}

