<div class="login ">
  <div class="col-md-8 col-lg-6 mx-auto">
  <h3 class="text-center text-color py-5">Je me connecte...</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-row my-3">
      <div class="form-group col mx-4">
        <input type="text" formControlName="pseudo" class="form-control" placeholder="* Pseudonyme" maxlength=30 />
      </div>
    </div>

    <div class="form-row ">
      <div class="form-group col mx-4 mt-2">
        <input type="password" formControlName="password" class="form-control" placeholder="* Password" maxlength=30 />
        <div *ngIf="badCredentials">
          <div class="alert alert-danger mt-2">Oups, le pseudo ou le mot passe n'est pas correct.</div>
        </div>
        <div *ngIf="technicalFailure">
          <div class="alert alert-danger mt-2">Oups, il y a une saucisse dans la pâte à choux. Veuillez réessayer plus tard.</div>
        </div>
      </div>
    </div>

    <div class="text-center col mt-3">
      <button class="btn btn-primary col mt-3" type="submit"
        [disabled]="loginForm.invalid">Et j'envoie la sauce
        caramel!</button>
    </div>
     <!-- <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
  </button> -->

    <div class="text-center col mt-3">
      <button class="btn btn-warning col mt-3"
        [routerLink]="'/connection/register'">Ah mais je n'ai pas de
        compte!</button>
    </div>
  </form>

  <ng-template #error>
    <div class="modal-header bg-danger">
      <h5 class="modal-title pull-left text-white">Oups, une saucisse dans la pâte!</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Nous sommes désolés, un incident est intervenu. Merci de réessayer plus tard.
    </div>
  </ng-template>
</div>
</div>
