.container-fluid {
  background: url('../../../assets/img/bg-login.jpg') no-repeat;
  background-size: cover;
  height: calc(100vh - 6vh);
}

.btn-primary {
  border: 1px solid #ae3006 !important;
  background-color: #ae3006 !important;
}

.btn-warning {
  border: 1px solid #ffd700 !important;
  background-color: #ffd700 !important;
}


.bg-danger {
  background-color: #cb7364 !important;
}

input {
  background-color: #f7f5ec;
}
