<!--

 -->

 <div class="discussion">
  <div class="col-md-8 mx-auto pt-2">
    <h5 class="text-white">Mes sujets de discussion (TODO)</h5>
    <tabset [justified]="true">

      <!--======================================================================================================

      ==========================================================================================================-->
      <tab heading="Nouveau">

      </tab>

      <!--======================================================================================================
             Demandes d'ajout reçues et à valider
      ==========================================================================================================-->

      <tab heading="Discussions">
        <div class="list-group mt-3">
          <span>Pas de sujets</span>
          </div>
      </tab>
    </tabset>
  </div>
</div>
