<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand mr-3">Patachou</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a *ngIf="!this.authenticationService.isLoggedIn" class="nav-link" routerLinkActive="active" routerLink="/home">Accueil</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/about">A propos de nous</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
      </div>
      <div class="navbar-nav ml-auto">
        <a *ngIf="!this.authenticationService.isLoggedIn"  class="nav-link" routerLinkActive="active" routerLink="/connection/register">M'inscrire</a>
        <a *ngIf="!this.authenticationService.isLoggedIn" class="nav-link" routerLinkActive="active" routerLink="/connection/login">Me connecter</a>
        <a *ngIf="this.authenticationService.isLoggedIn" class="nav-link"  routerLinkActive="active" (click)="logout()">Me déconnecter</a>
      </div>
    </div>
  </div>
</nav>
