.text-white {
  color: ivory !important;
}
.bg-dark {
  background-color: #ae3006 !important;
}

.btn-outline-primary {
  border-color: ivory !important;
  color: ivory !important;
}
.btn-primary {
  background-color:ivory !important;
}
.dropdown-menu {
  background-color:#ae3006 ;
  border: none;
  color: ivory;
}

