
<div class="home py-5">
  <div class="row h-40 mx-0" style="background-color: ivory;">
    <div class="col mx-auto p-3">
      <h2 class="display-5 text-center text-uppercase">Bienvenue sur Patachou !</h2>
      <p class="intro my-3 text-md-center">La vie est courte, commençons par le dessert!<br>
      Patachou est un réseau social consacré à la pâtisserie: 100% gourmandise.<br>
      Rejoignez-nous pour partager recettes, astuces et combines entre becs sucrés.</p>
    </div>
  </div>

  <div class="row connection h-20 mt-5">
    <div class="col mx-auto ">
      <div class="row  ">
        <button class="btn btn-primary d-block col-8 col-md-6 col-lg-4 my-2 mx-auto"
          [routerLink]="'/connection/register'">Je me
          crée un compte</button>
        <button class="btn btn-warning d-block  col-8 col-md-6 col-lg-4 my-2 mx-auto"
          [routerLink]="'/connection/login'">Je me
          connecte</button>
      </div>
    </div>
  </div>
</div>
