.container-fluid {
  background: url('../../assets/img/bg-home.jpg') no-repeat center center;
  background-size: cover;
  height: calc(100vh - 6vh);
}

.btn-primary {
  border: 1px solid #ae3006 !important;
  background-color: #ae3006 !important;
}
.btn-warning {
  border: 1px solid #ffd700!important;
  background-color: #ffd700 !important;
}
