<div class="container">

  <div class="row">
    <p>{{connections}} gourmand.es connecté.es</p>
  </div>

  <div class="row my-5">
    <div class="col-md-8 welcome mt-auto ">
      <h2 class="display-5 text-uppercase">Bienvenue sur Patachou !</h2>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio iusto, excepturi debitis ut
        numquam, repellendus nam voluptatibus ex delectus possimus veritatis quo sed porro, quas laborum et libero est
        quae!</p>
    </div>
  </div>

  <div class="row d-flex align-items-start">
    <div class="col-md-3 mt-auto ">
      <button class="btn btn-danger btn-lg" href="/connection/register" role="button">Je me crée un compte</button>
     <p>... car je veux faire partie de la bande.</p>
    </div>
    <div class="col-md-3 mt-auto ">
      <button class="btn btn-success btn-lg" href="/connection/register" role="button">Je me connecte</button>
    </div>

  </div>
