<div class="container-fluid mx-auto mt-0 pt-5">

  <div class="row h-40 my-5" style="background-color: ivory;">
    <div class="col-md-8 mx-auto">
      <h2 class="display-5 text-center text-uppercase">Bienvenue sur Patachou !</h2>
      <p>Lorem ipsum dolor sit amet réseau social adipisicing elit. Distinctio iusto, excepturi debitis ut
        numquam, repellendus nam voluptatibus ex delectus possimus veritatis quo sed porro, quas laborum et libero est
        quae!</p>
    </div>
  </div>

  <div class="row connection h-20">
    <div class="col col-md-8 mx-auto ">
      <div class="row  ">
        <button class="btn btn-primary d-block col-8 col-md-6 col-lg-4 my-2 mx-auto"
          [routerLink]="'/connection/register'">Je me
          crée un compte</button>
        <button class="btn btn-warning d-block  col-8 col-md-6 col-lg-4 my-2 mx-auto"
          [routerLink]="'/connection/login'">Je me
          connecte</button>
      </div>
    </div>
  </div>
</div>
