.modal-body, .modal-header, .modal-footer{
  background-color: ivory;
}
.form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  background-color: ivory !important;
  border-radius: 0;
}
